.card {
    max-width: 80%;
    margin: auto;
    overflow: hidden;
    margin: 20px auto;
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.right-side {
    margin-left: auto;
}

.right-side>img {
    opacity: .7;
}

.details {
    color: white;
    display: flex;
    gap: 10px;
}

.icon {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 1.54rem;
    color: grey;
    margin-top: 50px;
}